body{
	background-color: rgba(77, 74, 74, 1);
}

nav{
	background-color: #fff;
}
nav img{
	width: 8%;
}
#my{
	line-height: 150%;
	margin-left: 1%;
	margin-right: 3%;
	font-size: 250%;
	font-family: "Raleway",Courier;
	/*font-weight: lighter;*/
}
nav a{
	
	padding:0% 4% 0% 4%;
	margin-left: 0%;
	margin-right: 0;
	font-size:150%;
	text-align:center;
	border-bottom: 1px solid black;

}
nav a:last-child{
	border-right: none;
	border-bottom: none;
}


nav a:hover{
	border-radius: 2px;
	background-color:#fff;
	color: white; 
	text-decoration: none;
}
.navbar-toggler{
    font-size: 3.5rem;
}
#myself{
	text-align: center;

}
#prakhar{
	margin-top:4%;
	width:30em;
	height: 33em;
	/*border-radius: 10%;*/
	text-align: center;

}
#mainpagecon{
	display:block;
	padding: 2%;
	margin:8% 0% 8% 12%;
}
div h1{
	/*font-family: "Raleway";*/
	color: rgba(255,255,255,1);
	font-size: 250%;
}
div h2{
	color: rgba(255,255,255,1);
	font-family: "Libre Baskerville";
	font-weight: normal;
	text-decoration: overline;
	font-size: 250%;
}
div p{
	font-family: "Raleway";
	font-size: 120%;
	color: rgba(255,255,255,1);
	text-align: left;
	line-height: 200%;
	padding-left: 5%;
	font-size: 250%;

}
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(255,255,255,0.8);
   color: black;
   text-align: center;
   /*padding: 2%;*/
}
.contact{
	text-align: left;
	margin-left: 2%;
	padding: 2%;
	font-family: "Cormorant Garamond";
	font-size:120%;
}
.contact a{
	margin-right: 5%;
	color: black;
	text-decoration:none;
}
.contact a.top{
	float: right;
	margin-right: 2%;
	padding: 1%;
	font-size: 170%;
}
.contact span{
	margin-right: 5%;
	padding: 1%;
	font-size: 170%;
}
#mysign{
	display: inline-block;
	width: 11em;
	height: 7em;
	margin-left: 2%;
}
#feedback{
	float: right;
	margin: 8%;
	margin-bottom: 12%;
	padding: 1% 2% 1% 2%;
	text-decoration: none;
	color: white;
	font-size: 120%;
	border:1px solid white;
	border-radius: 0.5em; 
}
#feedback:hover{
	background-color: white;
	color: black;
	text-decoration:none;
}
@media screen and (min-width: 1150px){
	nav img{
		width:40px;
	}
	#myself{
		display: inline-block;
		/*float: right;*/
		margin-right: 5%;
		margin-bottom: 5%;
		position: fixed;
	}
	#my{
		line-height: 150%;
        margin-left: 1%;
        margin-right: 3%;
        font-size: 200%;
        font-family: "Raleway",Courier;
	}
	#mainpagecon{
		display: inline-block;
		float: right;
		margin-right: 10%;
	}
    nav a{
        border-right: 1px solid black;
	font-size:120%;
	border-bottom:none;
    }
    div p{
      font-size: 130%;
    }
    #navbarNavAltMarkup{
        margin-left: 20%;
    }
    .contact{
    	padding: 0;
    }
    .contact span{
    	padding: 0;
    	font-size: 100%;
    }
    .contact a.top{
    	padding: 0;
    	font-size: 100%;
    }
    @media (min-width: 992px){
        .navbar-expand-lg .navbar-nav .nav-link{
            padding-right: 1rem;
            padding-left: 1rem;
    }
    footer{
    	margin-top: 5%;
    }
    #feedback{
    	clear: both;
    	margin-bottom: 8%;
    }


}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  border-bottom: 16px solid black;
  background-color: white;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
