h2{
	color: white;
	padding: 2%;
	margin-left: 2%;
	margin-top: 2%;
	width: 50%;
	border-bottom: 1px solid white;
	font-family: Roboto;
}
section p{
	margin-left: 4%;
	font-size: 150%; 
	color: white;
	font-family: Lato;
}